.App {
  position: absolute;
  width: 100%;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-login {
  width: 40%;
}

.App-container-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-container-top {
  min-height: 100vh;
}

.Message {
  font-size: calc(2px + 2vmin);
}

.Tesseract {
  height: 50vh;
  width: 50vh;
}

.HomeIcon {
  height: 40vh;
  width: 40vh;
  padding: 5vh;
}

.Row {
  align-items: center;
  justify-content: center;
}

.Field {
  min-height: 4vh;
  max-height: 8vh;
}
